body {
  margin: 0;
  padding: 0;
  background: url("https://img1.wallspic.com/crops/7/3/0/8/18037/18037-horizonte-area_metropolitana-urbe-edificio-ciudad_capital-4096x2160.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#titulo,
#titulo2,
#descripcion,
#tareas {
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fcfcfc;
}

#login,
#correos,
#contra {
  padding: 5px;
  background-color: #fcfcfc;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}

#titu {
  font-family: sans-serif;
}

#descrip {
  font-family: cursive;
}
